# ignore Debian build artifacts
/files
/*.debhelper.log
/*.debhelper
/*.substvars
/*.udev
/linux/.config
/librtai-dev/
/librtai1/
/python-rtai/
/rtai-doc/
/rtai-source/
/rtai/
/stamps/[a-z]*

# ignore fedpkg build artifacts
/.build-*.log
/rtai-*/

# OSC
/.osc/
/rtai*.tar.gz
/rtai_*.dsc
